@import url("./variables.css");

.header{
  height:var(--header-height);
  background:var(--surface);
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 35px;
  border-bottom:1px solid var(--border);
  backdrop-filter:blur(18px);
  -webkit-backdrop-filter:blur(18px);
}

.header-title{
  font-size:26px;
  font-weight:700;
  color:var(--text);
}

.user-box{
  display:flex;
  align-items:center;
  gap:15px;
}

.user-avatar{
  width:45px;
  height:45px;
  border-radius:50%;
  background:var(--primary);
  color:#1a1d0a;
  display:flex;
  justify-content:center;
  align-items:center;
  font-weight:bold;
}